<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-width : 50px;min-height : 80px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" >
	<center class="widget-name">
		<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>	
	<div class="clearfix sipStatus">
		<span class="statusCmd" style="position : absolute;bottom : 3px;left : 3px;width : 30px;color: #404040 ;z-index: 1030;"></span>
		<div id="txtCallStatus" class="pull-right"><i class="fas fa-phone"></i>#CallStatus#</div>
		<div id="txtRegStatus" class="pull-right"><i class="fas fa-signal"></i>#RegStatus#</div>
	</div>
	<div class="form-group" id="phoneUI">
		<div class="input-group">
			#call#
			<div class="input-group-btn input-group-btn-sm">
				<button class="btn btn-sm btn-primary dropdown-toggle" id="btnVol" data-toggle="dropdown" title="Volume">
					<i class="fas fa-fw fa-volume-up"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<input type="range" min="0" max="100" value="100" step="1" id="sldVolume" />
				</div>
			</div>
		</div>
	</div>
	<div class="well-sip">
		<label>Message <i class="fas fa-plus-circle" data-toggle="collapse" href="#sendMessage" role="button" aria-expanded="false" aria-controls="sendMessage"></i></label>
			<div class="collapse panel panel-default" id="sendMessage">
				#message#
			</div>
		<label>Historique <i class="fas fa-plus-circle" data-toggle="collapse" href="#sip-log" role="button" aria-expanded="false" aria-controls="sip-log"></i></label>
		<div id="sip-log" class="collapse panel panel-default" style="height:100%;overflow: scroll;">
			<div class="panel-heading">
				<h4 class="text-muted panel-title">Appel récent
					<span class="pull-right">
						<i class="fas fa-trash text-muted sipLogClear" title="Clear Log"></i>
					</span>
				</h4>
			</div>
			<div id="sip-logitems" class="list-group">
				<p class="text-muted text-center">Aucun appel recent.</p>
			</div>
		</div>
	</div>
	<audio id="ringtone" src="plugins/clientSIP/core/template/sounds/incoming.mp3" loop></audio>
	<audio id="ringbacktone" src="plugins/clientSIP/core/template/sounds/outgoing.mp3" loop></audio>
	<audio id="dtmfTone" src="plugins/clientSIP/core/template/sounds/dtmf.mp3"></audio>
	<audio id="audioRemote"></audio>
	<script type="text/javascript" src="plugins/clientSIP/desktop/js/moment.js"></script>
	<script>
		function getHistoryCall() {
			$.ajax({
				type: 'POST',
				async: false,
				url: 'plugins/clientSIP/core/ajax/clientSIP.ajax.php',
				data: {
					action: 'getHistoryCall',
				},
				dataType: 'json',
				global: false,
				error: function(request, status, error) {
					setTimeout(function() {
						getHistoryCall()
					}, 100);
				},
				success: function(data) {
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
						return;
					}
					$('#sip-logitems').html('');
					var logitems=jQuery.parseJSON(data.result);
					jQuery.each(logitems.reverse(),function(key, item) {
						addItem(item);
					});	
					setTimeout(function() {
						getHistoryCall()
					}, 1000);
				}
			});
		}
		function addItem(call) { 
			var callHistory  = $('<div class="list-group-item sip-logitem clearfix" title="Double clique pour rappeler" style="color: black;">');
			callHistory.append($('<div class="clearfix">')
				.append($('<div class="pull-left">')
					.append($('<i class="fas fa-fw fa-fw">'))
					.append($('<strong>')
						.text(call.number))
					.append($('<br>'))
					.append($('<small>')
						.text(call.start)))
				.append($('<div class="pull-right text-right">')
					.append($('<em>'))
					.append($('<br>'))
					.text(call.callLength)));
			if (call.callActive) {
				var callActi = $('<div class="btn-group btn-group-xs pull-right">');
				if (call.status === 'ringing' && call.flow === 'incoming') {
					callActi.append($('<button class="btn btn-xs btn-success btnCall" title="Call">')
						.append($('<i class="fas fa-phone">')));
				} else {
					callActi.append($('<button class="btn btn-xs btn-primary btnHoldResume" title="Hold">')
							.append($('<i class="fas fa-pause">')));
					callActi.append($('<button class="btn btn-xs btn-info btnTransfer" title="Transfer">')
						   .append($('<i class="fas fa-random">')));
					callActi.append($('<button class="btn btn-xs btn-warning btnMute" title="Mute">')
						.append($('<i class="fas fa-fw fa-microphone">')));
				}
				callActi.append($('<button class="btn btn-xs btn-danger btnHangUp" title="Hangup">')
					 .append($('<i class="fas fa-stop">')));
				callHistory.append(callActi);
			}
			$('#sip-logitems').append(callHistory);
		}
		$(function() { 
			getHistoryCall();
			$('.sipLogClear').click(function(event) {
			$.ajax({
				type: 'POST',
				async: false,
				url: 'plugins/clientSIP/core/ajax/clientSIP.ajax.php',
				data: {
					action: 'clearHistoryCall',
				},
				dataType: 'json',
				global: false,
				success: function(data) {
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
						return;
					}
					$('#sip-logitems').html('');	
					}
				});
			});
			$('#sip-logitems').on('click', '.sip-logitem .btnCall', function(event) {
				return false;
			});
			$('#sip-logitems').on('click', '.sip-logitem .btnHoldResume', function(event) {
				return false;
			});
			$('#sip-logitems').on('click', '.sip-logitem .btnHangUp', function(event) {
				return false;
			});
			$('#sip-logitems').on('click', '.sip-logitem .btnTransfer', function(event) {
				return false;
			});
			$('#sip-logitems').on('click', '.sip-logitem .btnMute', function(event) {
				return false;
			});
			$('#sip-logitems').on('dblclick', '.sip-logitem', function(event) {
			});
		});
	</script>
</div>
